@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900;&dispaly=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 3%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    width: 0px;
    font-size: 15px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;

}

.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.navbar a {
    font-size: 12px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 5px;
    transition: .5s;

}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    height: 100vh;
    width: 100%;
    /*background: url('/imgs/home.png') no-repeat;*/
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 3%;
}

.home-content {
    max-width: 100%;
}

.home-content h1 {
    position: relative;
    font-size: 23px;
    color: white;
    font-weight: 700;
    line-height: 1.2;

}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}


.home-content h3 {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}



.home-content p {
    color: white;
    position: relative;
    font-size: 16px;
    margin: 7px 0 10px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 65px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}


.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 76%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 18px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: -2px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}


.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;

}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}


.btn-box a:nth-child(2)::before {
    background: #00abf0;

}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}


.btn-box a:hover::before {
    width: 100%;
}


.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}


.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


.home-sci a:hover {
    color: #081b29;
}


.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;

}

#linked {
    max-width: 24px;
}

.home-imgHover {
    position: absolute;
    top:0;
    right: 30px;
    width: 500px;
    height: 100px;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover {
    background: #081b29;
    opacity: .8;
}

.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 150%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 2;
}


/*KEYFRAMES ANIMATION*/

@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100%{
        pointer-events: auto;
    }
}


@media (min-width:768px){

    .home {

        height: 100vh;
        width: 100%;
        background: url('/imgs/home768x592.png') no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        padding: 0 3%;
    }


    .logo{
        width: 22%;
        font-size: 20px;

    }
    .navbar a {
        font-size: 15px;
        margin-left: 17px;
    }

    .home-content{
        max-width: 373px;
    }

    .home-content h1{
        font-size: 42px;
    }

    .home-content h3{
        font-size: 19px;
    }

    .home-content p {
        font-size: 16px;
    }

    .home-content .btn-box {
        width: 355px;
        height: 50px;
    }

    .btn-box a {
        width: 156px;
        height: 100%;
        letter-spacing: -1px;
    }

}


@media (min-width:1024px){

    .home {
        
        height: 100vh;
        width: 100%;
        background: url('/imgs/home768x592.png') no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        padding: 0 3%;
    }

    .logo{
        width: 22%;
        font-size: 20px;

    }
    .navbar a {
        font-size: 18px;
        margin-left: 33px;
    }

    .home-content{
        max-width: 508px;
    }

    .home-content h1{
        font-size: 56px;
    }

    .home-content h3{
        font-size: 35px;
    }

    .home-content p {
        font-size: 18px;
    }

    .home-content .btn-box {
        width: 444px;
    
    }

    .btn-box a {
        width: 156px;
        height: 100%;
        letter-spacing: -1px;
    }

}


@media (min-width:1200px){

    .home {
        
        height: 100vh;
        width: 100%;
        background: url('/imgs/home.png') no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        padding: 0 3%;
    }

    .logo{
        width: 22%;
        font-size: 20px;

    }
    .navbar a {
        font-size: 18px;
        margin-left: 56px;
    }

    .home-content{
        max-width: 600px;
    }

    .home-content h1{
        font-size: 60px;
        width: 500px;
    }

    .home-content h3{
        font-size: 40px;
    }

    .home-content p {
        font-size: 18px;
    }

    .home-content .btn-box {
        width: 444px;
    
    }

    .btn-box a {
        width: 156px;
        height: 100%;
        letter-spacing: -1px;
    }

}

